.Person {
    position: relative;
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}

.PersonDesc {
    display: inline-block;
    width: 40%;
}

.deleteButton {
    float: right;
    padding: 15px 0;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.deleteIcon {
    cursor: pointer;
}